body
{
  color: white;
  background: linear-gradient(violet, blue);
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 10px;
  font-family: 'Pacifico', cursive;
}
.main{
  font-family: 'Indie Flower', cursive; 
  font-size: 25px;
}
#capture{
  font-family: cursive;
  background-color: red;
}
#footer{
  font-family: 'Staatliches', cursive;
  color: yellow;
  font-size: 30px;
}